<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{titulo}} | KbNotes</title>
  <link rel="stylesheet" href="/static/libraries/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/libraries/fontawesome/css/all.min.css">

</head>
<body>
  <main class="d-flex flex-nowrap">

    <aside class="sidebar">
      <div class="sidebar-content d-flex flex-column flex-shrink-0 bg-light sticky-top" style="width: 4.5rem;">
        
        <div class="sidebar-logo">
          <a href="/" class="d-block p-3 link-dark text-decoration-none text-center border-bottom" style="height: 57px;" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Icon-only" data-bcup-haslogintext="no">
            <span class="iconify" data-icon="mdi:book-open-page-variant" data-width="20" data-height="20"></span>
            <span class="visually-hidden">Icon-only</span>
          </a>
        </div>

        <div class="sidebar-menu">
          <ul class="nav nav-pills nav-flush flex-column text-center">
            <li class="nav-item item-sidemenu">
              <a href="/dashboard" class="nav-link active text-reset py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-title="Panel inicio" aria-label="Panel" data-bs-original-title="Panel" data-bcup-haslogintext="no">
                <i class="fad fa-line-columns"></i>
              </a>
            </li>
            {{!-- <li>
              <a href="#" class="nav-link text-reset py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-title="Libros" aria-label="Libros" data-bs-original-title="Libros" data-bcup-haslogintext="no">
                <i class="fad fa-books"></i>
              </a>
            </li>
            <li class="nav-item item-sidemenu">
              <a href="/libraries/authors" class="nav-link text-reset py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-title="Autores" aria-label="Autores" data-bs-original-title="Autores" data-bcup-haslogintext="no">
                <i class="fad fa-book-user"></i>
              </a>
            </li>
            <li class="nav-item item-sidemenu">
              <a href="/libraries/vocabulary" class="nav-link text-reset py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-title="Vocabulario" aria-label="Vocabulario" data-bs-original-title="Vocabulario" data-bcup-haslogintext="no">
                <i class="fad fa-book"></i>
              </a>
            </li>
            <li class="nav-item item-sidemenu">
              <a href="/libraries/favorites" class="nav-link text-reset py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-title="Favoritos" aria-label="Favoritos" data-bs-original-title="Favoritos" data-bcup-haslogintext="no">
                <i class="fad fa-star"></i>
              </a>
            </li> --}}

          </ul>
        </div>

        <div class="sidebar-bottom">
          <div class="dropdown border-top dropend">
            <a href="#"
              class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false" data-bcup-haslogintext="no">
              <i class="fad fa-user-cog"></i>
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#" data-bcup-haslogintext="no">Nueva conexión</a></li>
              <li><a class="dropdown-item" href="#" data-bcup-haslogintext="no">Sincronizar</a></li>
              <li><a class="dropdown-item" href="#" data-bcup-haslogintext="no">Ayuda</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/settings" data-bcup-haslogintext="no">Configuración</a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <div id="container-body" class="container-fluid">
      <div id="cb-navbar-top" class="pt-1 border-bottom">
        <div class="align-items-center hstack gap-3">
          <div class="p-2"><p class="h4 labrada">Librerías</p></div>
          <div class="p-2 ms-auto ms-md-0">
            <button class="btn btn-warning">
              <i class="fad fa-plus"></i>
            </button>
            <button class="btn btn-warning ms-1">
              <i class="fad fa-cog"></i>
            </button>
          </div>
        </div>
      </div>
      <div id="cb-container-libraries">
        <div id="box-info-user" class="row d-none">
            <div class="position-absolute top-50 start-50 translate-middle text-center">
              <span style="font-size: 3.5em;"><i class="fad fa-book-reader rounded-circle" style="background-color: #ffc107; padding: .35em .4em .35em .4em;"></i></span>
              <p class="h4 labrada pt-2">No hay librerías aún...</p>
              <p class="labrada pt-2">Agrega alguna base de datos.</p>
            </div>
        </div>
        <div class="row" style="padding-top: 12px;">
          <div class="col-12 col-xxl-3 pe-xxl-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fa-duotone fa-server me-2"></i>Kobo Aura H20</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Con Backup</h6>
                <p class="card-text">Notas y resaltados de lector pequeño.</p>
                <a href="#" class="btn btn-outline-dark border-0"><i class="fad fa-cog"></i></a>
                <a href="../libraries/1/books" class="btn btn-warning float-end"><i class="fa-duotone fa-plug"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-xxl-3 pt-2 pt-sm-0">
            <div class="card" style="">
              <div class="card-body">
                <h5 class="card-title"><i class="fa-duotone fa-server me-2"></i>Kobo Elipsa</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Sin Backup</h6>
                <p class="card-text">Notas de libros técnicos.</p>
                <a href="#" class="btn btn-outline-dark border-0"><i class="fad fa-cog"></i></a>
                <a href="#" class="btn btn-warning float-end"><i class="fa-duotone fa-plug"></i></a>
              </div>
            </div>

          </div>
          <div class="col-12 col-xxl-3 pt-2 pt-sm-0">
            <div class="card" style="">
              <div class="card-body">
                <h5 class="card-title"><i class="fa-duotone fa-server me-2"></i>Kobo Elipsa 2023</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Sin Backup</h6>
                <p class="card-text">Notas de libros técnicos.</p>
                <a href="#" class="btn btn-outline-dark border-0"><i class="fad fa-cog"></i></a>
                <a href="#" class="btn btn-warning float-end"><i class="fa-duotone fa-plug"></i></a>
              </div>
            </div>

          </div>











        </div>

    
      </div>
    </div>
    <div class="navbar-top border-bottom py-1">
      <div class="navbar-top-logo">
          <a href="/" class="d-block p-2 link-dark text-decoration-none text-center" style="height: 57px;" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Icon-only" data-bcup-haslogintext="no">
            <span class="iconify" data-icon="mdi:book-open-page-variant" data-width="30" data-height="30"></span>
            <span class="visually-hidden">Icon-only</span>
          </a>
      </div>
    </div>
    <div class="navbar-bottom">
      <ul class="navbar-list">
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center active"><a href="#"><i class="fad fa-line-columns"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="#"><i class="fad fa-books"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="#"><i class="fad fa-book-user"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="#"><i class="fad fa-book"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="#"><i class="fad fa-star"></i></a></div></li>
      </ul>
    </div>

  </main>
  <script src="/static/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script src="/static/js/library.js"></script>

</body>
</html>
