<div class="row">
  <div class="col-xxl-6 offset-md-3">
    {{!-- {{#eachSettings dataConfig}}
    {{/eachSettings}} --}}
    <div class="row">
      <div class="col-12 pt-4">
        <p class="h5">Base de datos</p>
        <hr>
        <div class="mb-3 row align-items-center">
          <div class="col-sm-12 col-xxl-6 d-flex gap-3">
            <div class="pt-1">
              <i class="fad fa-upload" style="font-size: 32px;"></i>
            </div>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0">Sube el archivo</h6>
                  <p class="mb-0 opacity-75">Carga KoboReader.sqlite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xxl-6">
            <div class="input-group input-group-sm">
              <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
              <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"><i class="fas fa-file-upload"></i> Cargar</button>
            </div>    
          </div>
          <div class="col-sm-12 col-xxl-12">
            <div class="d-flex align-items-center">
              <strong>Cargando libros...</strong>
              <div class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-4 text-end">
        <button type="button" id="btn_save_config" class="btn btn-outline-dark"><i class="fad fa-save me-2"></i>Guardar</button>
      </div>
    </div>
  </div>
</div>