/* @media(min-width:992px){
    .item-menu-control-resaltes{
        width: 141px;
    }

} */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');



  
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
    -ms-animation: fadeOut ease 2s;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

.start-90{
  left:90%!important;
}

.start-75{
  left:75%!important;
}

.start-85{
  left:85%!important;
}

.start-80{
  left:80%!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: black !important;
  background-color: #ffc107;
}

.nav-item.item-sidemenu:hover{
  background-color: #d7d7d7;
}

.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  display: none;
  /* Ocultar el navbar-top en dispositivos de escritorio */
  justify-content: center;
  align-items: center;
}

.navbar-top-logo {
  font-size: 1.5rem;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #f2f2f2;
  display: none;
  /* Ocultar el navbar en dispositivos de escritorio */
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1); */
  /* Sombra en la parte superior */
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  list-style-type: none;
}

.navbar-list li a {
  text-decoration: none;
  color: inherit;
}

 /* Estilos CSS para dispositivos móviles */
 @media (max-width: 768px) {
  .sidebar {
    display: none;
    /* Ocultar el sidebar en dispositivos móviles */
  }
  .navbar-top {
    display: flex;
    /* Mostrar el navbar-top en dispositivos móviles */
  }

  .navbar-bottom {
    display: flex;
    /* Mostrar el navbar en dispositivos móviles */
  }

  #title-panel{
    display: none;
  }

}

.container-basic {
  width: 100%;
}

.sidevar-panel,.sidebar-content {
  flex-shrink: 0;
  height: 100vh;
  border-right: solid 1px #dfe1e7;
}

.sidebar-menu{
  margin-bottom: auto !important;
}

.list-group.list-books{

  border-width: 0!important;
  border-radius: 0!important;

}

.list-group-item-action:active{

background-color: #ececec!important;
}

#settings-navbar{
  position: sticky;
  top:100px;
}

.enabled{
color:#25d725;
}

.disabled{
color:#9f9f9f;
}

.h5, h5{
  line-height: 1.3;
}


.mark, mark{
  padding: 0 !important;
}

.text-bg-highlight{
  color:#1c1c1c;
  background-color:#5bf3aa;
}
.text-bg-definition{
  color:#1c1c1c;
  background-color:#cdd9ff;
}
.text-bg-note{
  color:#1c1c1c;
  background-color:#5bc5f3;
}
.text-bg-quote{
  color:#1c1c1c;
  background-color:#4cffe2;
}

.mark-success{
  background-color:#cdffe7;
}
.mark-danger{
  background-color:#ffcdcd;
}
.mark-primary{
  background-color:#cdeeff;
}
.mark-aqua{
  background-color:#cdfff7;
}
.mark-purple{
  background-color:#cdd9ff;
}

.rajdhani{
  font-family: 'Rajdhani', sans-serif;
}

.labrada{
  font-family: 'Labrada', serif;
}

.kanit{
  font-family: 'Kanit', sans-serif;
}

.navbar-blist-item{
  width: 50px;
  height: 50px;
}

.navbar-blist-item.active{
  background-color: #ffc107;
}
